* {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f1f1f1;
  font-family: "Muller", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.container.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.header {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo-header {
  margin-right: 40px;
}

.section-title {
  margin-left: 45px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.contact-link {
  font-family: "Muller", sans-serif;
  margin-right: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0em;
  color: #666666;
}

.account {
  padding-left: 23px;
  margin-left: auto;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px 12px;
  color: #cc9933;
}

.header-nav {
  display: flex;
  padding: 15px 45px;
  background: #ffffff;
  border-radius: 15px;
}

.header-information {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.header-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  max-width: 390px;
}

.header-btn {
  padding: 13px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  border-radius: 10px;
  background-color: #ffffff;
  color: #cc9933;
  border: 1px solid #cc9933;
}

.header-btn:not(:nth-child(2n)) {
  margin-right: 40px;
}

.btn-want-tour {
  min-width: 107px;
}

.btn-back-call {
  min-width: 177px;
}

.header-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 11px;
  margin: 0;
  max-width: 700px;
  border-right: 1px solid #e1e1e1;
  color: #666666;
}

.header-list-item {
  display: inline;
  margin-right: 45px;
  padding: 0px;
}

.header-list-item:not(last-child) {
  margin-right: 45px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Спецпредложения */

.section-offers {
  padding-top: 35px;
  padding-bottom: 35px;
}

.title-offers {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 20px;
}

.section-special-offers-list {
  display: flex;
  flex-direction: column;
  width: 573px;
}

.section-special-offers-list-container {
  display: flex;
  justify-content: space-between;
}

.section-special-offers-list-item {
  padding: 40px 180px 40px 40px;
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
}

.section-special-offers-list-item:not(:last-child) {
  margin-bottom: 23px;
}

.offer-image-1 {
  background-image: url("../img/offer1.png");
  background-size: cover;
}

.offer-image-2 {
  background-image: url("../img/offer2.png");
  background-size: cover;
}

.offer-image-3 {
  background-image: url("../img/offer3.png");
  background-size: cover;
}

.section-special-offers-list-item-luxe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px 180px 40px 40px;
  width: 573px;
  min-height: 540px;
  background-color: #00000015;
  border-radius: 15px;
}

.cards-name {
  margin: 0;
  margin-bottom: 15px;
  text-align: left;
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  font-weight: 700;
}

.card3 {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}

.cards-description {
  display: inline-block;
  margin: 0;
  margin-bottom: 45px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  opacity: 80%;
}

.more-detailed-link {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffcc66;
}

.more-info {
  margin: 0;
}

/* О нас */

.title-about-us {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 11px;
}

.section-about-us {
  padding-top: 35px;
  padding-bottom: 35px;
}

.about-us-descr {
  margin: 0;
  font-family: "Muller", sans-serif;
  max-width: 888px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

/* Услуги */

.title-services {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 20px;
}

.section-services {
  padding-top: 35px;
  padding-bottom: 35px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-link {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #cc9933;
}

.arrow::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border-right: 2px solid;
  border-top: 2px solid;
  transform: rotate(45deg);
}

.service-item {
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 191px 126px 50px 45px;
  width: 573px;
  min-height: 330px;
  background-color: #ffffff;
  border-radius: 15px 15px;
  background-size: 573px 165px;
  background-repeat: no-repeat;
}

.service-item:nth-child(2n) {
  margin-right: 0;
}

.blog1 {
  background-image: url("../img/blog1.jpg");
}

.blog2 {
  background-image: url("../img/blog2.jpg");
}

.blog3 {
  background-image: url("../img/blog3.jpg");
}

.blog4 {
  background-image: url("../img/blog4.jpg");
}

.blog-descr {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

/* Преимущества */

.title-benefits {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;
}

.section-benefits {
  padding-top: 35px;
  padding-bottom: 35px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.benefits-item {
  margin-bottom: 23px;
  padding: 116px 42px 41px 45px;
  width: 275px;
  left: 375px;
  border-radius: 15px;
  background-color: #ffffff;
  min-height: 275px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.benefits-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefits-text {
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-block1 {
  background-image: url("../img/bathtub.svg");
}

.benefits-block2 {
  background-image: url("../img/hanger.svg");
}

.benefits-block3 {
  background-image: url("../img/heating.svg");
}

.benefits-block4 {
  background-image: url("../img/hotel-key.svg");
}

.benefits-block5 {
  background-image: url("../img/parking.svg");
}

.benefits-block6 {
  background-image: url("../img/reception.svg");
}

.benefits-block7 {
  background-image: url("../img/security-box.svg");
}

.benefits-block8 {
  background-image: url("../img/swimming-pool.svg");
}

/* Размещение */

.title-placing {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;
}

.section-placing {
  padding-top: 35px;
  padding-bottom: 35px;
}

.placing-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels {
  padding: 36px 46px 41px 45px;
}

.price-with-rating {
  margin-bottom: 16px;
}

.star-rating {
  display: inline;
}

.placing-price {
  display: inline-block;
  margin: 0;
  margin-right: 45px;
}

.placing-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.placing-price-span {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.placing-country {
  display: flex;
  margin-bottom: 33px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.placing-button {
  display: inline-block;
  padding: 13px 20px;
  color: #cc9933;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.placing-item {
  background-color: white;
  margin-bottom: 23px;
  width: 374px;
  min-height: 440px;
  border-radius: 15px;
}

.placing-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placing-block9 {
  background-image: url("../img/hotel9.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 50px 27px 50px;
}

.look-variant {
  display: inline-block;
  color: #ffffff;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
}

/* Хочу тур */

.section-tour {
  padding-top: 35px;
  padding-bottom: 35px;
  box-sizing: border-box;
}

.tour-container {
  padding: 38px 45px 71px 45px;
  background-color: #e9e9e9;
  border-radius: 15px;
}

.title-tour {
  margin: 0;
  margin-bottom: 20px;
}

.section-tour-form {
  display: flex;
  justify-content: space-between;
  padding: 32px 28px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
}

.position-form-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-tour-border {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #e1e1e1;
  width: 100%;
}

.tour-local {
  margin-left: -5px;
  border: none;
  cursor: pointer;
}

.section-tour-label {
  display: block;
  padding-bottom: 15px;
  font-family: "MullerRegular";
  font-size: 12px;
  line-height: 1px;
  color: rgba(0, 0, 0, 1);
}

.section-tour-date {
  border: none;
  cursor: pointer;
}

.id-number {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  cursor: pointer;
}

.tour-btn {
  margin-top: o;
  padding: 13px 30px;
}

/* контакты */

.title-contacts {
  margin: 0;
  margin-bottom: 26px;
  margin-left: 45px;
}

.section-contacts {
  padding-top: 35px;
  padding-bottom: 19px;
}

.contacts-white-container {
  padding: 44px 44px 46px 46px;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contacts-picture {
  border-radius: 10px;
}

.contacts-list {
  margin: 0;
  padding: 0;
  max-width: 375px;
  list-style: none;
}

.contact-item {
  display: flex;
  border-bottom: 1px solid#C4C4C4;
  padding-bottom: 23px;
  margin-bottom: 25px;
}

.contact-item-schedule {
  margin: 0;
  margin-bottom: 45px;
}

.contacts-heading {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.contact1 {
  margin: 0;
  margin-right: 83px;
}

.contact2 {
  margin: 0;
  margin-right: 47px;
}

.contact3 {
  margin: 0;
  margin-right: 80px;
}

.contact4 {
  margin: 0;
  margin-right: 75px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.contact-text {
  margin: 0;
}

.contact-text3 {
  margin-top: 25px;
}

.button-contact {
  padding: 27px 29px;
  font-weight: 700;
}

.contact-text {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.links-in-contacts {
  color: #cc9933;
}

.grey-contact-text {
  color: #999999;
}

/* footer */

.footer-home {
  background-color: #333333;
  height: 341px;
  border-radius: 15px;
  display: flex;
  padding: 44px 51px 0 52px;
}

.footer-left-text {
  margin: 0;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

.footer-left-text1 {
  margin-bottom: 40px;
}

.footer-left-text2 {
  margin-bottom: 49px;
}

.footer-left-link {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #cc9933;
}

.footer-left {
  max-width: 320px;
  margin-right: 102px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  max-width: 800px;
  height: 100%;
  background-image: url("../img/footer-logo.svg");
  background-repeat: no-repeat;
  background-position: 263px 62px;
  background-size: 254px 228px;
}

.footer-right {
  max-width: 25px;
}

.footer-tel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24px;
  margin-bottom: 15px;
}

.footer-center-text {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-family: Muller;
  color: #ffffff;
  line-height: 24px;
}

.footer-telephone-link {
  display: inline-block;
  color: #cc9933;
}

.footer-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24px;
  color: #cc9933;
}

.social-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-left: 60px;
}
.footer-icon {
  display: block;
  width: 25px;
  height: 25px;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-icon1 {
  background-image: url("../img/icon1.svg");
}

.footer-icon2 {
  background-image: url("../img/icon2.svg");
}

.footer-icon3 {
  background-image: url("../img/icon3.svg");
}

.footer-icon4 {
  background-image: url("../img/icon4.svg");
}

.footer-icon5 {
  background-image: url("../img/icon5.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.footer-list {
  margin-left: 0;
}
