* {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  background-color: #f1f1f1;
  font-family: "Muller", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.container.header-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header {
padding-top: 30px;
padding-bottom: 35px;
}

.header-top {
  display: flex;
  margin-bottom: 30px;
}

.section-title {
  margin-left: 45px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.contact-link {
  font-family: "Muller", sans-serif;
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0em;
  color: #666666;
  margin-left: 25px;
  margin-right: 560px;
}

.account {
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 23px;
  background-size: 21px 12px;
  margin-left: auto;
  color: #cc9933;
  margin-top: auto;
  margin-bottom: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 70px;
  background: #ffffff;
  border-radius: 15px;
}

.header-btn-container {
  width: 426px;
  display: flex;
  justify-content: space-evenly;
}

.header-btn {
  color: #cc9933;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #cc9933;
}

.btn-want-tour {
  min-width: 107px;
}

.btn-back-call {
  min-width: 177px;
}

.header-list {
  padding: 0;
  display: flex;
  padding-left: 45px;
  border-right: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  color: #666666;
}

.header-list-item {
  display: inline;
  margin-right: 45px;
  padding: 0px;
}

.header-list-item:not(last-child) {
  margin-right: 45px;
}

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* Спецпредложения */

.section-offers {
  padding-top: 35px;
  padding-bottom: 35px;
}

.title-offers {
  margin: 0;
  margin-left: 45px;
}

.section-special-offers-list {
  display: flex;
  flex-direction: column;
}

.section-special-offers-list-container {
  display: flex;
  flex-direction: row;
}

.section-special-offers-list-item {
  margin-top: 20px;
  margin-right: 20px;
  width: 573px;
  min-height: 258px;
}

.offer-image-1 {
  background-image: url("../img/offer1.png");
  background-size: cover;
}

.offer-image-2 {
  background-image: url("../img/offer2.png");
  background-size: cover;
}

.offer-image-3 {
  background-image: url("../img/offer3.png");
  background-size: cover;
}

.section-special-offers-list-item-luxe {
  margin-top: 20px;
  width: 573px;
  height: 540px;
  background-color: #00000015;
}

.cards-name {
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  color: white;
  width: 700px;
  font-size: 40px;
  line-height: 40px;
}

.card1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  padding: 40px 234px 15px 40px;
}

.card2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  padding: 40px 234px 15px 40px;
}

.card3 {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  padding: 211px 234px 15px 40px;
}

.cards-description {
  padding-left: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  opacity: 80%;
  margin: 0;
  margin-bottom: 47px;
}

.more-detailed-link {
  margin-left: 40px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffcc66;
  background-image: url("../img/arrow2.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
}

/* О нас */

.title-about-us {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 11px;
}

.section-about-us {
  padding-top: 35px;
  padding-bottom: 35px;
}

.about-us-descr {
  font-family: "Muller", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 888px;
}

/* Услуги */

.title-services {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 20px;
}

.section-services {
padding-top: 35px;
padding-bottom: 35px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.services-link {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #cc9933;
  background-image: url("../img/arrow2.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.service-item {
  margin-bottom: 15px;
  width: 573px;
  min-height: 330px;
  background-color: #ffffff;
  border-radius: 15px 15px;
  margin-right: 2px;
  padding: 191px 126px 50px 45px;
}

.blog1 {
  background-image: url("../img/blog1.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
  margin-right: 22px;
  margin-bottom: 23px;
}
.blog2 {
  background-image: url("../img/blog2.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
  margin-bottom: 23px;
}
.blog3 {
  background-image: url("../img/blog3.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
  margin-right: 22px;
}

.blog4 {
  background-image: url("../img/blog4.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
}

.blog-descr {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

/* Преимущества */

.title-benefits {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;
}

.section-benefits {
  padding-top: 35px;
  padding-bottom: 35px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.benefits-item {
  width: 275px;
  left: 375px;
  border-radius: 15px;
  background-color: #ffffff;
  min-height: 275px;
  margin-bottom: 23px;
}

.benefits-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefits-text {
  padding: 116px 42px 41px 45px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.img-text1 {
  background-image: url("../img/bathtub.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.img-text2 {
  background-image: url("../img/hanger.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.img-text3 {
  background-image: url("../img/heating.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.img-text4 {
  background-image: url("../img/hotel-key.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.img-text5 {
  background-image: url("../img/parking.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.img-text6 {
  background-image: url("../img/reception.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.img-text7 {
  background-image: url("../img/security-box.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.img-text8 {
  background-image: url("../img/swimming-pool.svg");
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

/* Размещение */

.title-placing {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;
}

.section-placing {
  padding-top: 35px;
  padding-bottom: 35px;
}

.placing-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.star-rating {
  display: inline;
  margin-left: 46px;
}

.placing-price {
  display: inline-block;
  margin-top: 36px;
  margin-left: 45px;
}

.placing-name {
  margin-top: 16px;
  margin-left: 45px;
  margin-bottom: 16px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 138px;
}

.placing-price-span {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.placing-country {
  margin-left: 45px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  margin-bottom: 33px;
  margin-right: 138px;
}

.placing-button {
  margin-left: 45px;
  display: inline-block;
  color: #cc9933;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 13px 20px;
  margin-bottom: 54px;
}

.placing-item {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 23px;
  width: 374px;
  min-height: 440px;
}

.placing-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placing-block9 {
  background-image: url("../img/hotel9.png");
  background-size: cover;
}

.look-variant {
  display: inline-block;
  color: #ffffff;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  padding-right: 15px;
  margin-top: 373px;
  margin-left: 54px;
  background-image: url("../img/arrow3.svg");
  background-repeat: no-repeat;
  background-position: right;
}
