* {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f1f1f1;
  font-family: "Muller", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.container.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.header {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo-header {
  margin-right: 40px;
}

.section-title {
  margin-left: 45px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.contact-link {
  font-family: "Muller", sans-serif;
  margin-right: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0em;
  color: #666666;
}

.account {
  padding-left: 23px;
  margin-left: auto;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px 12px;
  color: #cc9933;
}

.header-nav {
  display: flex;
  padding: 15px 45px;
  background: #ffffff;
  border-radius: 15px;
}

.header-information {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.header-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  max-width: 390px;
}

.header-btn {
  padding: 13px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  border-radius: 10px;
  background-color: #ffffff;
  color: #cc9933;
  border: 1px solid #cc9933;
}

.header-btn:not(:nth-child(2n)) {
  margin-right: 40px;
}

.btn-want-tour {
  min-width: 107px;
}

.btn-back-call {
  min-width: 177px;
}

.header-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 11px;
  margin: 0;
  max-width: 700px;
  border-right: 1px solid #e1e1e1;
  color: #666666;
}

.header-list-item {
  display: inline;
  margin-right: 45px;
  padding: 0px;
}

.header-list-item:not(last-child) {
  margin-right: 45px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Спецпредложения */

.section-offers {
  padding-top: 35px;
  padding-bottom: 35px;
}

.title-offers {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 20px;
}

.section-special-offers-list {
  display: flex;
  flex-direction: column;
  width: 573px;
}

.section-special-offers-list-container {
  display: flex;
  justify-content: space-between;
}

.section-special-offers-list-item {
  padding: 40px 180px 40px 40px;
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
}

.section-special-offers-list-item:not(:last-child) {
  margin-bottom: 23px;
}

.offer-image-1 {
  background-image: url("../img/offer1.png");
  background-size: cover;
}

.offer-image-2 {
  background-image: url("../img/offer2.png");
  background-size: cover;
}

.offer-image-3 {
  background-image: url("../img/offer3.png");
  background-size: cover;
}

.section-special-offers-list-item-luxe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px 180px 40px 40px;
  width: 573px;
  min-height: 540px;
  background-color: #00000015;
  border-radius: 15px;
}

.cards-name {
  margin: 0;
  margin-bottom: 15px;
  text-align: left;
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  font-weight: 700;
}

.card3 {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}

.cards-description {
  display: inline-block;
  margin: 0;
  margin-bottom: 45px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  opacity: 80%;
}

.more-detailed-link {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffcc66;
}

.more-info {
  margin: 0;
}

/* О нас */

.title-about-us {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 11px;
}

.section-about-us {
  padding-top: 35px;
  padding-bottom: 35px;
}

.about-us-descr {
  margin: 0;
  font-family: "Muller", sans-serif;
  max-width: 888px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

/* Услуги */

.title-services {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 20px;
}

.section-services {
  padding-top: 35px;
  padding-bottom: 35px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-link {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #cc9933;
}

.arrow::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border-right: 2px solid;
  border-top: 2px solid;
  transform:rotate(45deg);
}

.service-item {
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 191px 126px 50px 45px;
  width: 573px;
  min-height: 330px;
  background-color: #ffffff;
  border-radius: 15px 15px;
  background-size: 573px 165px;
  background-repeat: no-repeat;
}

.service-item:nth-child(2n) {
  margin-right: 0;
}

.blog1 {
  background-image: url("../img/blog1.jpg");
}

.blog2 {
  background-image: url("../img/blog2.jpg");
}

.blog3 {
  background-image: url("../img/blog3.jpg");
}

.blog4 {
  background-image: url("../img/blog4.jpg");
}

.blog-descr {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

/* Преимущества */

.title-benefits {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;
}

.section-benefits {
  padding-top: 35px;
  padding-bottom: 35px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.benefits-item {
  margin-bottom: 23px;
  padding: 116px 42px 41px 45px;
  width: 275px;
  left: 375px;
  border-radius: 15px;
  background-color: #ffffff;
  min-height: 275px;
  font-family: Muller;
  font-size: 16px;
   font-style: normal;
  font-weight: 400;
   line-height: 32px;
   letter-spacing: 0em;
   text-align: left;
   background-repeat: no-repeat;
   background-position: 40px 45px;
}

.benefits-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefits-text {
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-block1 {
  background-image: url("../img/bathtub.svg");
}

.benefits-block2 {
  background-image: url("../img/hanger.svg");
}

.benefits-block3 {
  background-image: url("../img/heating.svg");
}

.benefits-block4 {
  background-image: url("../img/hotel-key.svg");
}

.benefits-block5 {
  background-image: url("../img/parking.svg");
}

.benefits-block6 {
  background-image: url("../img/reception.svg");
}

.benefits-block7 {
  background-image: url("../img/security-box.svg");
}

.benefits-block8 {
  background-image: url("../img/swimming-pool.svg");
}


/* Размещение */

.title-placing {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;
}

.section-placing {
  padding-top: 35px;
  padding-bottom: 35px;
}

.placing-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels {
  padding: 36px 46px 41px 45px;
}

.price-with-rating {
margin-bottom: 16px;
}

.star-rating {
  display: inline;
  margin-left: 46px;
}

.placing-price {
  display: inline-block;
  margin: 0;
}

.placing-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.placing-price-span {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.placing-country {
  display: flex;
  margin-bottom: 33px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.placing-button {
  display: inline-block;
  padding: 13px 20px;
  color: #cc9933;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #cc9933;
  border-radius: 10px;
}

.placing-item {
  background-color: white;
  margin-bottom: 23px;
  width: 374px;
  min-height: 440px;
  border-radius: 15px;
}

.placing-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placing-block9 {
  background-image: url("../img/hotel9.png");
  background-size: cover;
}

.look-variant {
  display: inline-block;
  padding-right: 15px;
  margin-top: 373px;
  margin-left: 54px;
  margin-bottom: 27px;
  color: #ffffff;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
}
